@page "/SafetyCapture/ViewAll"
@using Application.Models.DTO
@inject MediatR.IMediator _mediator
@using Microsoft.AspNetCore.Components.QuickGrid

<h3>ViewAll</h3>

@if (allMeasurements is null)
{
    <p>Data is loading</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped mb-0">
        <thead>
            <tr>
                <th>Id</th>
                <th>productionLine</th>
                <th>Depth
                    <button id="depthPopoverBtn"
                        class="btn btn-primary"
                        type="button"
                        data-bs-toggle="popover">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                            </svg>
                    </button>
                </th>
                <th>Weight
                        <button id="weightPopoverBtn"
                                class="btn btn-primary"
                                type="button"
                                data-bs-toggle="popover">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                            </svg>
                        </button>
                </th>
                <th>Humidity
                        <button id="humidityPopoverBtn"
                                class="btn btn-primary"
                                type="button"
                                data-bs-toggle="popover">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                            </svg>
                        </button>
                </th>
                <th>Temperature
                        <button id="temperaturePopoverBtn"
                                class="btn btn-primary"
                                type="button"
                                data-bs-toggle="popover">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                            </svg>
                        </button>
                </th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var measurement in allMeasurements)
            {
                <tr>
                    <td>@measurement.MeasurementId</td>
                    <td>@measurement.productionLine</td>
                    <td>@measurement.Depth</td>
                    <td>@measurement.Weight</td>
                    <td>@measurement.Humidity</td>
                    <td>@measurement.Temperature</td>
                    <td>@measurement.CreatedDate</td>
                    <td>
                        <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                                    </svg>
                                </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/SafetyCapture/Edit/@measurement.MeasurementId"><i class="icon-base ti tabler-pencil me-1"></i>Edit</a>
                                
                                <a class="dropdown-item" href="javascript:void(0);"><i class="icon-base ti tabler-trash me-1"></i>Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
    </tbody>
    </table>
    </div>

    <div id="depthPopoverContent" style="display:none;">
        <h5>Depth stats</h5>
        <div>
            <p>Highest Value : @allMeasurements.Max(x => x.Depth)</p>
            <p>Lowest Value : @allMeasurements.Min(x => x.Depth)</p>
            <p>Sum Of Values : @allMeasurements.Sum(x => x.Depth)</p>
            <p>Mean Value : @(allMeasurements.Average(x => x.Depth))</p>
            <p>Stan </p>
        </div>
    </div>

    <div id="weightPopoverContent" style="display:none;">
        <h5>Weight stats</h5>
        <div>
            <p>Highest Value : @allMeasurements.Max(x => x.Weight)</p>
            <p>Lowest Value : @allMeasurements.Min(x => x.Weight)</p>
            <p>Sum Of Values : @allMeasurements.Sum(x => x.Weight)</p>
            <p>Mean Value : @(allMeasurements.Average(x => x.Weight))</p>
        </div>
    </div>

    <div id="humidityPopoverContent" style="display:none;">
        <h5>Humidity stats</h5>
        <div>
            <p>Highest Value : @allMeasurements.Max(x => x.Humidity)</p>
            <p>Lowest Value : @allMeasurements.Min(x => x.Humidity)</p>
            <p>Sum Of Values : @allMeasurements.Sum(x => x.Humidity)</p>
            <p>Mean Value : @(allMeasurements.Average(x => x.Humidity))</p>
        </div>
    </div>

    <div id="temperaturePopoverContent" style="display:none;">
        <h5>Temperature stats</h5>
        <div>
            <p>Highest Value : @allMeasurements.Max(x => x.Temperature)</p>
            <p>Lowest Value : @allMeasurements.Min(x => x.Temperature)</p>
            <p>Sum Of Values : @allMeasurements.Sum(x => x.Temperature)</p>
            <p>Mean Value : @(allMeasurements.Average(x => x.Temperature))</p>
        </div>
    </div>
}



<script>
    document.addEventListener("DOMContentLoaded", function () {
        const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
        popoverTriggerList.map(el => new bootstrap.Popover(el));
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const el = document.getElementById("myPopover");

        // Enable HTML inside popover
        new bootstrap.Popover(el, {
            html: true
        });
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        new bootstrap.Popover(document.getElementById("depthPopoverBtn"), {
            html: true,
            content: function () {
                return document.getElementById("depthPopoverContent").innerHTML;
            },
            placement: "right"
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        new bootstrap.Popover(document.getElementById("weightPopoverBtn"), {
            html: true,
            content: function () {
                return document.getElementById("weightPopoverContent").innerHTML;
            },
            placement: "right"
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        new bootstrap.Popover(document.getElementById("humidityPopoverBtn"), {
            html: true,
            content: function () {
                return document.getElementById("humidityPopoverContent").innerHTML;
            },
            placement: "right"
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        new bootstrap.Popover(document.getElementById("temperaturePopoverBtn"), {
            html: true,
            content: function () {
                return document.getElementById("temperaturePopoverContent").innerHTML;
            },
            placement: "right"
        });
    });
</script>



@code {
    private IQueryable<MeasurementDTO> allMeasurements;

    protected override async Task OnInitializedAsync()
    {
        var query = new Application.Features.Queries.GetAllMeasurementsQuery();
        allMeasurements = (await _mediator.Send(query)).AsQueryable();
        var a = allMeasurements;
    }
}
